/* 
*   CSS Snippet template
*   by github.com/majorplayz
*   Totally useless but there we go ;)
*/

@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto|Roboto+Condensed|Roboto+Slab');
/*Google Fonts
font-family: 'Roboto', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Roboto Condensed', sans-serif;
font-family: 'Roboto Slab', serif;
*/

body {
  font-family: 'Roboto', sans-serif;
}
